/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 jul. 2020, 23:26:26
    Author     : cajas
*/

.root{
    -fx-background-image: url("background.jpg");
    
}
.label{
    -fx-text-fill: Black; 
    -fx-font-size: 64; 
    -fx-font-weight: BOLD; 
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
}
.button{
    -fx-background-color: indianred;
    -fx-font-size: 18;
    -fx-font-weight: BOLD;
    -fx-text-fill: Black;
}